openapi: 3.1.0
info:
  title: Hasod Subscription API
  version: 1.0.0
  description: |
    Subscription management API for Hasod services.
    Handles service catalog, PayPal subscriptions, and manual payments.
  contact:
    email: hasod@hasodonline.com
  license:
    name: Proprietary
    url: https://hasod-41a23.web.app/terms

servers:
  - url: https://us-central1-hasod-41a23.cloudfunctions.net/api
    description: Production
  - url: http://localhost:5001/hasod-41a23/us-central1/api
    description: Development (Firebase Emulator)

tags:
  - name: Services
    description: Service catalog operations
  - name: Subscriptions
    description: PayPal subscription lifecycle
  - name: User
    description: User subscription status
  - name: Admin
    description: Administrative operations (requires admin email)
  - name: Transliteration
    description: Hebrew to English transliteration service
  - name: Metadata
    description: Music metadata extraction services

# Default: no security (public endpoints explicitly set security: [])
security: []

paths:
  # ===========================================================================
  # Services
  # ===========================================================================
  /services:
    get:
      operationId: getServices
      summary: List all active services
      tags: [Services]
      responses:
        '200':
          description: List of active services
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesResponse'

  /services/{serviceId}:
    get:
      operationId: getService
      summary: Get a specific service
      tags: [Services]
      parameters:
        - $ref: '#/components/parameters/ServiceIdPath'
      responses:
        '200':
          description: Service details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ===========================================================================
  # Subscriptions
  # ===========================================================================
  /create-subscription:
    post:
      operationId: createSubscription
      summary: Create a PayPal subscription
      description: Initiates a PayPal subscription for a user and service
      tags: [Subscriptions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
      responses:
        '200':
          description: Subscription created, approval URL returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /activate-subscription:
    post:
      operationId: activateSubscription
      summary: Activate a subscription after PayPal approval
      tags: [Subscriptions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateSubscriptionRequest'
      responses:
        '200':
          description: Subscription activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /paypal-webhook:
    post:
      operationId: handlePaypalWebhook
      summary: Handle PayPal webhook events
      description: Processes PayPal subscription lifecycle events
      tags: [Subscriptions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayPalWebhookEvent'
      responses:
        '200':
          description: Webhook processed successfully
        '500':
          description: Webhook processing failed

  # ===========================================================================
  # User
  # ===========================================================================
  /user/subscription-status:
    get:
      operationId: getSubscriptionStatus
      summary: Get user subscription status
      description: Returns user's subscription status for all services. Used by desktop app for license validation.
      tags: [User]
      security:
        - bearerAuth: []
        - {}
      parameters:
        - name: email
          in: query
          description: User email (fallback if no Bearer token)
          schema:
            type: string
            format: email
      responses:
        '200':
          description: User subscription status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ===========================================================================
  # Admin - Services
  # ===========================================================================
  /admin/services:
    post:
      operationId: createOrUpdateService
      summary: Create or update a service
      description: Admin only. Creates a new service or updates existing one.
      tags: [Admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminServiceRequest'
      responses:
        '200':
          description: Service created/updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminServiceResponse'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/services/{serviceId}:
    delete:
      operationId: deleteService
      summary: Delete a service
      description: Admin only. Permanently deletes a service.
      tags: [Admin]
      parameters:
        - $ref: '#/components/parameters/ServiceIdPath'
      responses:
        '200':
          description: Service deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ===========================================================================
  # Admin - Manual Payments
  # ===========================================================================
  /admin/manual-payment:
    post:
      operationId: processManualPayment
      summary: Process a manual payment
      description: Admin only. Records a manual payment and activates subscription.
      tags: [Admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualPaymentRequest'
      responses:
        '200':
          description: Payment processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualPaymentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/manual-transactions:
    get:
      operationId: getAllTransactions
      summary: Get all manual transactions
      description: Admin only. Returns all manual transactions with optional filters.
      tags: [Admin]
      parameters:
        - name: serviceId
          in: query
          schema:
            type: string
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/manual-transactions/{userId}:
    get:
      operationId: getUserTransactions
      summary: Get user's manual transactions
      description: Admin only. Returns manual transactions for a specific user.
      tags: [Admin]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User's transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ===========================================================================
  # Admin - Subscription Management
  # ===========================================================================
  /admin/cancel-subscription:
    post:
      operationId: adminCancelSubscription
      summary: Cancel a user's subscription
      description: Admin only. Cancels PayPal subscription and updates status.
      tags: [Admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSubscriptionRequest'
      responses:
        '200':
          description: Subscription canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/manage-group:
    post:
      operationId: manageGoogleGroup
      summary: Manage Google Group membership
      description: Admin only. Add or remove user from service's Google Group.
      tags: [Admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManageGroupRequest'
      responses:
        '200':
          description: Group membership updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ===========================================================================
  # Admin - Migration (One-time endpoints)
  # ===========================================================================
  /admin/migrate-users:
    post:
      operationId: migrateUsers
      summary: Migrate users to multi-service schema
      description: Admin only. One-time migration endpoint.
      tags: [Admin]
      responses:
        '200':
          description: Migration complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationResponse'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/seed-services:
    post:
      operationId: seedServices
      summary: Seed initial services
      description: Admin only. One-time endpoint to seed services collection.
      tags: [Admin]
      responses:
        '200':
          description: Services seeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeedServicesResponse'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ===========================================================================
  # Transliteration
  # ===========================================================================
  /transliterate:
    post:
      operationId: transliterateMedia
      summary: Transliterate Hebrew media names to English
      description: |
        Transliterates song, artist, and album names from Hebrew to English.
        Uses OpenAI for intelligent transliteration that preserves meaning.
        Requires user authentication.
      tags: [Transliteration]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransliterateRequest'
      responses:
        '200':
          description: Transliteration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransliterateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Subscription required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ===========================================================================
  # Metadata
  # ===========================================================================
  /metadata/spotify:
    post:
      operationId: getSpotifyMetadata
      summary: Extract Spotify track metadata
      description: |
        Extracts complete track metadata from a Spotify URL including:
        - Artist name
        - Track title
        - Album name
        - ISRC (International Standard Recording Code)
        - Duration (milliseconds)
        - Release date
        - Cover art URL

        Uses Spotify's public embed page to obtain an anonymous access token,
        then calls the Spotify API for complete metadata. No authentication required.
      tags: [Metadata]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpotifyMetadataRequest'
      responses:
        '200':
          description: Metadata extracted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotifyMetadataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          description: Failed to extract metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  # ===========================================================================
  # Security Schemes
  # ===========================================================================
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Firebase ID token

  # ===========================================================================
  # Parameters
  # ===========================================================================
  parameters:
    ServiceIdPath:
      name: serviceId
      in: path
      required: true
      schema:
        type: string
      description: Service identifier (e.g., 'music-library', 'hasod-downloader')

  # ===========================================================================
  # Responses
  # ===========================================================================
  responses:
    BadRequest:
      description: Bad request - missing or invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Access denied - admin privileges required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  # ===========================================================================
  # Schemas
  # ===========================================================================
  schemas:
    # -------------------------------------------------------------------------
    # Common
    # -------------------------------------------------------------------------
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string

    SuccessResponse:
      type: object
      required: [success, message]
      properties:
        success:
          type: boolean
          const: true
        message:
          type: string

    # -------------------------------------------------------------------------
    # Service Schemas
    # -------------------------------------------------------------------------
    Service:
      type: object
      required:
        - id
        - name
        - nameHe
        - description
        - descriptionHe
        - paypalPlanId
        - pricePerMonth
        - currency
        - active
        - order
        - features
        - featuresHe
      properties:
        id:
          type: string
          examples: ['music-library', 'hasod-downloader']
        name:
          type: string
          examples: ['Music Library Access']
        nameHe:
          type: string
          examples: ['גישה לספריית המוזיקה']
        description:
          type: string
        descriptionHe:
          type: string
        paypalPlanId:
          type: string
          examples: ['P-4TS05390XU019010LNAY3XOI']
        pricePerMonth:
          type: number
          examples: [10]
        currency:
          type: string
          enum: [USD, ILS]
        googleGroupEmail:
          type: string
          format: email
        active:
          type: boolean
        order:
          type: integer
        features:
          type: array
          items:
            type: string
        featuresHe:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        createdBy:
          type: string

    ServicesResponse:
      type: object
      required: [services]
      properties:
        services:
          type: array
          items:
            $ref: '#/components/schemas/Service'

    ServiceResponse:
      type: object
      required: [service]
      properties:
        service:
          $ref: '#/components/schemas/Service'

    # -------------------------------------------------------------------------
    # Subscription Schemas
    # -------------------------------------------------------------------------
    SubscriptionStatus:
      type: string
      enum: [active, pending, canceled, expired, suspended, none]

    PaymentMethod:
      type: string
      enum: [paypal, manual]

    ManualPaymentMethod:
      type: string
      enum: [cash, bank-transfer, other]

    UserServiceSubscription:
      type: object
      required: [status, paymentMethod, updatedAt]
      properties:
        status:
          $ref: '#/components/schemas/SubscriptionStatus'
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
        paypalSubscriptionId:
          type: string
        paypalSubscriptionStatus:
          type: string
        manualStartDate:
          type: string
          format: date-time
        manualEndDate:
          type: string
          format: date-time
        manualTransactionId:
          type: string
        inGoogleGroup:
          type: boolean
        activatedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateSubscriptionRequest:
      type: object
      required: [uid, serviceId]
      properties:
        uid:
          type: string
          description: Firebase user ID
        serviceId:
          type: string
          description: Service to subscribe to

    CreateSubscriptionResponse:
      type: object
      required: [approvalUrl, subscriptionId]
      properties:
        approvalUrl:
          type: string
          format: uri
          description: PayPal approval URL to redirect user
        subscription:
          type: object
          description: PayPal subscription object
        subscriptionId:
          type: string

    ActivateSubscriptionRequest:
      type: object
      required: [uid, subscriptionId]
      properties:
        uid:
          type: string
        subscriptionId:
          type: string
          description: PayPal subscription ID

    ActivateSubscriptionResponse:
      type: object
      required: [success, status, serviceId]
      properties:
        success:
          type: boolean
        status:
          type: string
        serviceId:
          type: string
        subscription:
          type: object

    PayPalWebhookEvent:
      type: object
      properties:
        id:
          type: string
        event_type:
          type: string
          examples:
            - BILLING.SUBSCRIPTION.ACTIVATED
            - BILLING.SUBSCRIPTION.CANCELLED
            - BILLING.SUBSCRIPTION.EXPIRED
            - BILLING.SUBSCRIPTION.SUSPENDED
        resource:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
            custom_id:
              type: string

    # -------------------------------------------------------------------------
    # User Schemas
    # -------------------------------------------------------------------------
    SubscriptionStatusResponse:
      type: object
      required: [email, services]
      properties:
        email:
          type: string
          format: email
        services:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserServiceSubscription'

    # -------------------------------------------------------------------------
    # Admin Schemas
    # -------------------------------------------------------------------------
    AdminServiceRequest:
      type: object
      required: [service]
      properties:
        service:
          type: object
          properties:
            id:
              type: string
              description: If provided, updates existing service
            name:
              type: string
            nameHe:
              type: string
            description:
              type: string
            descriptionHe:
              type: string
            paypalPlanId:
              type: string
            pricePerMonth:
              type: number
            currency:
              type: string
              enum: [USD, ILS]
            googleGroupEmail:
              type: string
              format: email
            active:
              type: boolean
            order:
              type: integer
            features:
              type: array
              items:
                type: string
            featuresHe:
              type: array
              items:
                type: string

    AdminServiceResponse:
      type: object
      required: [success, message, serviceId]
      properties:
        success:
          type: boolean
        message:
          type: string
        serviceId:
          type: string

    ManualPaymentRequest:
      type: object
      required:
        - userEmail
        - serviceId
        - amount
        - durationMonths
        - paymentMethod
        - processedByUid
        - processedByEmail
      properties:
        userEmail:
          type: string
          format: email
        serviceId:
          type: string
        amount:
          type: number
          minimum: 0
        durationMonths:
          type: integer
          minimum: 1
          maximum: 120
        paymentMethod:
          $ref: '#/components/schemas/ManualPaymentMethod'
        notes:
          type: string
        receiptNumber:
          type: string
        processedByUid:
          type: string
        processedByEmail:
          type: string
          format: email

    ManualPaymentResponse:
      type: object
      required: [success, message, transactionId, userId]
      properties:
        success:
          type: boolean
        message:
          type: string
        transactionId:
          type: string
        userId:
          type: string

    ManualTransaction:
      type: object
      required:
        - id
        - userId
        - userEmail
        - serviceId
        - serviceName
        - amount
        - currency
        - durationMonths
        - startDate
        - endDate
        - paymentMethod
        - processedBy
        - processedByEmail
        - createdAt
      properties:
        id:
          type: string
        userId:
          type: string
        userEmail:
          type: string
          format: email
        serviceId:
          type: string
        serviceName:
          type: string
        amount:
          type: number
        currency:
          type: string
        durationMonths:
          type: integer
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        notes:
          type: string
        paymentMethod:
          type: string
        receiptNumber:
          type: string
        processedBy:
          type: string
        processedByEmail:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time

    TransactionsResponse:
      type: object
      required: [transactions]
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/ManualTransaction'

    CancelSubscriptionRequest:
      type: object
      required: [uid, serviceId]
      properties:
        uid:
          type: string
        serviceId:
          type: string
        reason:
          type: string

    ManageGroupRequest:
      type: object
      required: [uid, serviceId, action]
      properties:
        uid:
          type: string
        serviceId:
          type: string
        action:
          type: string
          enum: [add, remove]

    MigrationResponse:
      type: object
      required: [success, message, migrated, skipped, total]
      properties:
        success:
          type: boolean
        message:
          type: string
        migrated:
          type: integer
        skipped:
          type: integer
        total:
          type: integer

    SeedServicesResponse:
      type: object
      required: [success, message, services]
      properties:
        success:
          type: boolean
        message:
          type: string
        services:
          type: array
          items:
            type: string

    # -------------------------------------------------------------------------
    # Transliteration Schemas
    # -------------------------------------------------------------------------
    MediaItem:
      type: object
      properties:
        title:
          type: string
          description: Song/track title
        artist:
          type: string
          description: Artist name
        album:
          type: string
          description: Album name

    TransliterateRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MediaItem'
          minItems: 1
          maxItems: 50
          description: Array of media items to transliterate (max 50)

    TransliteratedItem:
      type: object
      properties:
        original:
          $ref: '#/components/schemas/MediaItem'
        transliterated:
          $ref: '#/components/schemas/MediaItem'

    TransliterateResponse:
      type: object
      required: [success, items]
      properties:
        success:
          type: boolean
        items:
          type: array
          items:
            $ref: '#/components/schemas/TransliteratedItem'
        tokensUsed:
          type: integer
          description: Number of OpenAI tokens used

    # -------------------------------------------------------------------------
    # Metadata Schemas
    # -------------------------------------------------------------------------
    SpotifyMetadataRequest:
      type: object
      required: [spotifyUrl]
      properties:
        spotifyUrl:
          type: string
          description: |
            Spotify track URL (e.g., https://open.spotify.com/track/xxx or spotify:track:xxx)
          example: "https://open.spotify.com/track/5omHkj4qY0A8f6mE4T3fAH"

    SpotifyMetadataResponse:
      type: object
      required: [success, metadata]
      properties:
        success:
          type: boolean
        metadata:
          $ref: '#/components/schemas/SpotifyTrackMetadata'

    SpotifyTrackMetadata:
      type: object
      required: [trackId, name, artist, album, isrc, duration_ms]
      properties:
        trackId:
          type: string
          description: Spotify track ID
          example: "5omHkj4qY0A8f6mE4T3fAH"
        name:
          type: string
          description: Track title
          example: "היה טוב"
        artist:
          type: string
          description: Primary artist name
          example: "Omer Adam"
        album:
          type: string
          description: Album name
          example: "תסמינים של פרידה"
        isrc:
          type: string
          description: International Standard Recording Code
          example: "IL1012501110"
        duration_ms:
          type: integer
          description: Track duration in milliseconds
          example: 213879
        releaseDate:
          type: string
          description: Album release date (ISO format)
          example: "2025-06-10"
        imageUrl:
          type: string
          description: Album cover art URL
          example: "https://i.scdn.co/image/ab67616d0000b27312d961970aa13291d9720f8b"
