openapi: 3.1.0

info:
  $ref: './info.yaml'

servers:
  - url: https://us-central1-hasod-41a23.cloudfunctions.net/api
    description: Production
  - url: http://localhost:5001/hasod-41a23/us-central1/api
    description: Development (Firebase Emulator)

tags:
  - name: Services
    description: Service catalog operations
  - name: Subscriptions
    description: PayPal subscription lifecycle
  - name: User
    description: User subscription status
  - name: Admin
    description: Administrative operations (requires admin email)
  - name: Transliteration
    description: Hebrew to English transliteration service
  - name: Metadata
    description: Music metadata extraction services
  - name: Download Link Retrieval
    description: Get download links for music tracks (requires hasod-downloader subscription)
  - name: Desktop
    description: Desktop app-specific types (download jobs, queue management, license validation)

# Default: no security (public endpoints explicitly set security: [])
security: []

paths:
  # Services
  /services:
    $ref: './paths/services.yaml#/~1services'
  /services/{serviceId}:
    $ref: './paths/services.yaml#/~1services~1{serviceId}'

  # Subscriptions
  /create-subscription:
    $ref: './paths/subscriptions.yaml#/~1create-subscription'
  /activate-subscription:
    $ref: './paths/subscriptions.yaml#/~1activate-subscription'
  /paypal-webhook:
    $ref: './paths/subscriptions.yaml#/~1paypal-webhook'

  # User
  /user/subscription-status:
    $ref: './paths/user.yaml#/~1user~1subscription-status'

  # Admin
  /admin/services:
    $ref: './paths/admin.yaml#/~1admin~1services'
  /admin/services/{serviceId}:
    $ref: './paths/admin.yaml#/~1admin~1services~1{serviceId}'
  /admin/manual-payment:
    $ref: './paths/admin.yaml#/~1admin~1manual-payment'
  /admin/manual-transactions:
    $ref: './paths/admin.yaml#/~1admin~1manual-transactions'
  /admin/manual-transactions/{userId}:
    $ref: './paths/admin.yaml#/~1admin~1manual-transactions~1{userId}'
  /admin/cancel-subscription:
    $ref: './paths/admin.yaml#/~1admin~1cancel-subscription'
  /admin/manage-group:
    $ref: './paths/admin.yaml#/~1admin~1manage-group'
  /admin/migrate-users:
    $ref: './paths/admin.yaml#/~1admin~1migrate-users'
  /admin/seed-services:
    $ref: './paths/admin.yaml#/~1admin~1seed-services'

  # Transliteration
  /transliterate:
    $ref: './paths/transliteration.yaml#/~1transliterate'

  # Metadata & Downloads
  /metadata/spotify:
    $ref: './paths/metadata.yaml#/~1metadata~1spotify'
  /metadata/spotify/album:
    $ref: './paths/metadata.yaml#/~1metadata~1spotify~1album'
  /metadata/spotify/playlist:
    $ref: './paths/metadata.yaml#/~1metadata~1spotify~1playlist'
  /download/deezer/isrc:
    $ref: './paths/metadata.yaml#/~1download~1deezer~1isrc'

components:
  # Security Schemes
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Firebase ID token

  # Responses
  responses:
    BadRequest:
      $ref: './responses/errors.yaml#/BadRequest'
    Unauthorized:
      $ref: './responses/errors.yaml#/Unauthorized'
    Forbidden:
      $ref: './responses/errors.yaml#/Forbidden'
    NotFound:
      $ref: './responses/errors.yaml#/NotFound'

  # Schemas
  schemas:
    # Common
    ErrorResponse:
      $ref: './schemas/common.yaml#/ErrorResponse'
    SuccessResponse:
      $ref: './schemas/common.yaml#/SuccessResponse'

    # Service
    Service:
      $ref: './schemas/service.yaml#/Service'
    ServicesResponse:
      $ref: './schemas/service.yaml#/ServicesResponse'
    ServiceResponse:
      $ref: './schemas/service.yaml#/ServiceResponse'
    AdminServiceRequest:
      $ref: './schemas/service.yaml#/AdminServiceRequest'
    AdminServiceResponse:
      $ref: './schemas/service.yaml#/AdminServiceResponse'
    SeedServicesResponse:
      $ref: './schemas/service.yaml#/SeedServicesResponse'

    # Subscription
    SubscriptionStatus:
      $ref: './schemas/subscription.yaml#/SubscriptionStatus'
    PaymentMethod:
      $ref: './schemas/subscription.yaml#/PaymentMethod'
    UserServiceSubscription:
      $ref: './schemas/subscription.yaml#/UserServiceSubscription'
    CreateSubscriptionRequest:
      $ref: './schemas/subscription.yaml#/CreateSubscriptionRequest'
    CreateSubscriptionResponse:
      $ref: './schemas/subscription.yaml#/CreateSubscriptionResponse'
    ActivateSubscriptionRequest:
      $ref: './schemas/subscription.yaml#/ActivateSubscriptionRequest'
    ActivateSubscriptionResponse:
      $ref: './schemas/subscription.yaml#/ActivateSubscriptionResponse'
    PayPalWebhookEvent:
      $ref: './schemas/subscription.yaml#/PayPalWebhookEvent'
    CancelSubscriptionRequest:
      $ref: './schemas/subscription.yaml#/CancelSubscriptionRequest'
    ManageGroupRequest:
      $ref: './schemas/subscription.yaml#/ManageGroupRequest'
    MigrationResponse:
      $ref: './schemas/subscription.yaml#/MigrationResponse'

    # Transaction
    ManualPaymentMethod:
      $ref: './schemas/transaction.yaml#/ManualPaymentMethod'
    ManualPaymentRequest:
      $ref: './schemas/transaction.yaml#/ManualPaymentRequest'
    ManualPaymentResponse:
      $ref: './schemas/transaction.yaml#/ManualPaymentResponse'
    ManualTransaction:
      $ref: './schemas/transaction.yaml#/ManualTransaction'
    TransactionsResponse:
      $ref: './schemas/transaction.yaml#/TransactionsResponse'

    # User
    SubscriptionStatusResponse:
      $ref: './schemas/user.yaml#/SubscriptionStatusResponse'

    # Metadata
    MediaItem:
      $ref: './schemas/metadata.yaml#/MediaItem'
    TransliterateRequest:
      $ref: './schemas/metadata.yaml#/TransliterateRequest'
    TransliteratedItem:
      $ref: './schemas/metadata.yaml#/TransliteratedItem'
    TransliterateResponse:
      $ref: './schemas/metadata.yaml#/TransliterateResponse'
    SpotifyMetadataRequest:
      $ref: './schemas/metadata.yaml#/SpotifyMetadataRequest'
    SpotifyMetadataResponse:
      $ref: './schemas/metadata.yaml#/SpotifyMetadataResponse'
    SpotifyTrackMetadata:
      $ref: './schemas/metadata.yaml#/SpotifyTrackMetadata'
    SpotifyAlbumMetadataRequest:
      $ref: './schemas/metadata.yaml#/SpotifyAlbumMetadataRequest'
    SpotifyAlbumMetadataResponse:
      $ref: './schemas/metadata.yaml#/SpotifyAlbumMetadataResponse'
    SpotifyAlbumInfo:
      $ref: './schemas/metadata.yaml#/SpotifyAlbumInfo'
    SpotifyAlbumTrack:
      $ref: './schemas/metadata.yaml#/SpotifyAlbumTrack'
    SpotifyPlaylistMetadataRequest:
      $ref: './schemas/metadata.yaml#/SpotifyPlaylistMetadataRequest'
    SpotifyPlaylistMetadataResponse:
      $ref: './schemas/metadata.yaml#/SpotifyPlaylistMetadataResponse'
    SpotifyPlaylistInfo:
      $ref: './schemas/metadata.yaml#/SpotifyPlaylistInfo'
    SpotifyPlaylistTrack:
      $ref: './schemas/metadata.yaml#/SpotifyPlaylistTrack'
    DeezerQuality:
      $ref: './schemas/metadata.yaml#/DeezerQuality'
    DeezerIsrcRequest:
      $ref: './schemas/metadata.yaml#/DeezerIsrcRequest'
    DeezerDownloadUrlResponse:
      $ref: './schemas/metadata.yaml#/DeezerDownloadUrlResponse'

    # Desktop
    MusicService:
      $ref: './schemas/desktop.yaml#/MusicService'
    DownloadStatus:
      $ref: './schemas/desktop.yaml#/DownloadStatus'
    TrackMetadata:
      $ref: './schemas/desktop.yaml#/TrackMetadata'
    DownloadContext:
      $ref: './schemas/desktop.yaml#/DownloadContext'
    DownloadJob:
      $ref: './schemas/desktop.yaml#/DownloadJob'
    QueueStatus:
      $ref: './schemas/desktop.yaml#/QueueStatus'
    LicenseStatus:
      $ref: './schemas/desktop.yaml#/LicenseStatus'
    OAuthStartResult:
      $ref: './schemas/desktop.yaml#/OAuthStartResult'
    StoredAuth:
      $ref: './schemas/desktop.yaml#/StoredAuth'
